{{- $author := .Get "author" -}}
{{- $source := .Get "source" -}}
<blockquote class="custom-quote">
  <p class="quote-open">“  </p>
    <p class="quote-body">{{ .Inner | markdownify }}</p>
     <p class="quote-close">   ”</p>
  {{- if $author -}}
  <div class="source-line">
    
    — <b>{{ $author }}</b>
   
    {{ if $source }},
     <cite>{{ $source }}</cite>{{ end }}
  </div>
  {{- end -}}
</blockquote>

<style>
  .custom-quote{
  padding-left: 2rem;
  border-left: 2px solid rgb(255, 0, 0);
  }

.quote-body{
display: inline;
}
    .quote-open, .quote-close{
        display: inline;
    font-size:x-large ;
    text-decoration: italic;
    margin: 0;
    }

    .source-line{
    margin-top: 1rem;
    }
</style>

