{{ $galleryWidth := .Get "galleryWidth"}}
{{ if not $galleryWidth }}
  {{ $galleryWidth = "100%" }}
{{ end }}
{{ $mainCaption := .Get "mainCaption" }}


<div class="gallery-container">
  {{/* Use the page renderer so nested shortcodes and markdown inside the shortcode are processed. */}}
  {{ $page := .Page }}
  {{ $inner := .Inner }}
  {{ $page.RenderString $inner }}
</div>


<style>

  :root{
    --gallery-width: {{ $galleryWidth}};
  }
  .gallery-container{
    min-height: 50rem;
    width: var(--gallery-width);
    border: 2px solid red;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: none;
  background-color: lightsalmon;
  }
  /*
  Style after wards 
  */
</style>

