
<div class="highlight">
    <div class="highlight-text">
        {{ .Inner | markdownify }}
    </div>
</div>
<style>
.highlight {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;      
  line-height: 1.75rem;    
  margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  font-weight: 400;  
  text-align: center;   
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.highlight-text{
width: 75%;
}
</style>
