body {
  color: #222;
  font-family: Georgia, sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  /* background-color:  #e8e8e7af; */
  background-color: white;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  body {
   margin-left: 5%;
   margin-right: 5%
  }
}

header {
  /* border-bottom: 1px solid #222; */
  margin-bottom: 1rem;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: 0;
  position: relative;
  overflow: visible;
}


footer {
  /* border-top: 1px solid #222; */
  margin-top: 1rem;
  /* padding-bottom: 0.5rem; */
}

a {
  color: #00e;
  text-decoration: none;
}

header h1{
  text-align: center;
  margin-bottom: 0;
}

.footer-main{
 text-align: center;
}

.site-title a{
  text-decoration: none;
  color: inherit;
}
.site-title{
  margin:0;
}






/* Individual posts page */
.page-tags-div{
  display: flex;
  align-items: center;
}

.page-tags-div ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}
.page-tags-div ul a {
  padding: 0.15rem;
  /* background-color: rgb(219, 219, 229); */
}

.page-tags-label{
  display: inline-block;
}

.prev-next-div{
  display: flex;
  justify-content: space-between;
}

/* pagination */

.pagination{
  margin-top: 1rem;
}


/* section archive */











/* Table of Contents */

/* .toc-container{
  border: 2px solid rgb(101, 98, 98);
}
.toc-title{
  border: 2px solid red;
}

.toc-body{
  border: 2px solid green;
}
.toc-body ul{
  list-style: none;
  border: 2px solid blue;
  padding-left: 0;
}
.toc-body #TableOfContents{
  margin: 0;
}
.toc-body li{
  padding-left: 1.5rem;
} */


/* Container */
/* .toc-container{
  border: 2px solid rgb(101, 98, 98);
  max-width: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  padding-left: 0;
  margin-left: 0;
} */

/* Title */


/* Body */


/* FOR TE SEARCH */
/* #search{
  border: 2px solid black;
  margin: 0;
  padding:0 ;
} */



/* For images */
/* centering */
figure.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure.center img {
  display: block;
  margin: 0 auto;
}
figure.center figcaption{
 text-align: center;
}

/* right align */
figure.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

figure.right img {
  display: block;
  margin-left: auto;
}
figure.right figcaption{
  text-align: right;

}