<style>
  #cover-image {
    width: 100vw;
    max-width: none;
  }

  #posts-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;
/*    border-top: 2px solid red;
    border-bottom: 2px solid red;
*/
  }

  #post-title{
  margin-top: 0;
  }
  #post-title a {
    display: inline-block;
    margin-right: 8px;
    margin-top: 0;
    font-size: x-large;
  }
  #details-box{
 display: flex;
 flex-direction: column;
 justify-content: space-around; 
  }

  #details-box p {
    margin-bottom: 0;
    margin-top: 0;

  }

  #details-box time {
    margin-bottom: 0;
  }
</style>
{{ $image := resources.Get .Site.Params.homepage.homePageCoverPath }}
{{/* <h2>No</h2> */}}
<img id="cover-image" src="{{ $image.RelPermalink }}" />



<div id="recent-posts">



  <h2>Recent Posts</h2>

  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
  <div id="posts-box">
    <div id="cover-image-box">
      {{ $cover := "" }}

{{ with .Params.cover }}
  {{ $cover = .image }}
{{ end }}

{{ $imageResource := .Resources.GetMatch $cover }}

{{ if not $imageResource }}
  {{ $imageResource = resources.Get "images/default.jpg" }}
{{ end }}

{{ if $imageResource }}
  <img src="{{ $imageResource.RelPermalink }}" alt="{{ .Title }}"
       style="width: 200px; height: 120px; object-fit: cover; border-radius: 8px;">
{{ end }}




    </div>


    <div id="details-box">
      <h2 id="post-title">
        <a href="{{ .RelPermalink }}" data-pagefind-meta="title">
          {{ .LinkTitle }}
        </a>
      </h2>

      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      {{ partial "terms.html" (dict "taxonomy" "authors" "page" .) }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{ $readingTime := div (float .WordCount) .Site.Params.posts.readingSpeed }}
      {{ $readingTime = math.Ceil $readingTime }}
      <p>Reading Time: {{ $readingTime}} mins </p>
    </div>

  </div>
  <!-- {{ .Summary }} -->
  {{ end }}
  <!-- pagination  -->
  {{ if gt $paginator.TotalPages 1 }} {{ $current := $paginator.PageNumber }} {{
  $start := sub $current 2 }} {{ $end := add $current 2 }} {{ if lt $start 1
  }}{{ $start = 1 }}{{ end }} {{ if gt $end $paginator.TotalPages }}{{ $end =
  $paginator.TotalPages }}{{ end }}

  <nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="page-link">← Prev</a>
    {{ end }} {{ range $i := seq $start $end }} {{ $page := index
    $paginator.Pagers (sub $i 1) }} {{ if eq $i $current }}
    <span class="page-link active">{{ $i }}</span>
    {{ else }}
    <a href="{{ $page.URL }}" class="page-link">{{ $i }}</a>
    {{ end }} {{ end }} {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="page-link">Next →</a>
    {{ end }}
  </nav>
  {{ end }}
</div>

</div>