
<style>
      :root {
      --light-color: {{ .Site.Params.theme.lightModeColor }};
      --dark-color: {{ .Site.Params.theme.darkModeColor }};
      --light-link-color: {{ .Site.Params.theme.lightModeLinkColor }};
      --dark-link-color: {{ .Site.Params.theme.darkModeLinkColor }}
  }
    /* Light Mode (Default) */
body {
    background-color: var(--light-color);
    color: #333333;
}
body a {
  color: var(--light-link-color);
  text-decoration: none;
}

/* Dark Mode */
body.dark-mode {
    background-color: var(--dark-color);
    color: #ffffff;
}
body.dark-mode a {
color: var(--dark-link-color);
}
/* body.dark-mode a or any other tags id etc works no need to take thenm using js */
#dark-circle, #light-circle{
    height: 100%;
    width: 100%;
}

#dark-mode-toggle{
 background: none; 
  background-color: inherit;
 height: 4vh;
 width: 4vh;
 border-radius: 50%;
/* position: absolute;
 bottom: 30px;
 right: 90px;
 */
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
body.dark-mode #dark-mode-toggle{
background-color: var(--light-color);
}


</style>
<div>
<div>
    <button id="dark-mode-toggle">
<p id="dark-circle">🌓︎</p>
<p id="light-circle">☀</p>
    </button>
</div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.getElementById('dark-mode-toggle');
    const body = document.body;
    const darkCircle=document.getElementById('dark-circle');
    const lightCircle=document.getElementById('light-circle');

 // Default: light theme
  let theme = localStorage.getItem('theme') || 'light';

  // Apply theme
  if (theme === 'dark') {
    body.classList.add('dark-mode');
    darkCircle.style.display = 'inline';

    lightCircle.style.display = 'none';
  } else {
    body.classList.remove('dark-mode');
    darkCircle.style.display = 'none';
    lightCircle.style.display = 'inline';
  }

    toggleButton.addEventListener('click', () => {
        body.classList.toggle('dark-mode');

        // Save preference to local storage
        if (body.classList.contains('dark-mode')) {
            localStorage.setItem('theme', 'dark');
            lightCircle.style.setProperty('display', 'none');
            darkCircle.style.setProperty('display', 'inline');

        } else {
            localStorage.setItem('theme', 'light');
            darkCircle.style.setProperty('display', 'none');
            lightCircle.style.setProperty('display', 'inline');
        }
    });
});
</script>