<style>
  #logo-image {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    display: block;
  }
  h2{
    text-align: center;
  }

  #logo-block{
    min-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #home-page-tag{
    margin-top: 0;
  }
  
  #home-page-title{
    margin-bottom: 0;
  }
  
  #home-page-about{
    text-align: center;
    max-width: 600px;
    margin-top: 0;
  }
</style>

<div id="logo-block">
    {{/*  from static/images  */}}
    {{ $imagePath := .Site.Params.homepage.homePageLogoPath }}
    <img id="logo-image" src="{{ $imagePath | relURL }}" alt="{{ .Site.Params.homepage.homePageTitle }}" />
    
    <h2 id="home-page-title">
        {{ .Site.Params.homepage.homePageTitle }}
    </h2>
    <h4 id="home-page-tag">
        {{ .Site.Params.homepage.homePageTagline }}
    </h4>
    <p id="home-page-about">
        {{ .Site.Params.homepage.homePageAbout }}
    </p>
</div>

{{ partial "media-links.html" . }}