<style>
      #logo-image {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    display: block;
  }
  h2{
    text-align: center;
}

#logo-block{
min-height: 70%;
 display: flex;
    flex-direction: column;
    align-items: center;
}



#home-page-tag{
margin-top: 0;
}
#home-page-title{

margin-bottom: 0;}

</style>
<div id="logo-block">

    {{ $image := resources.Get .Site.Params.homepage.homePageLogoPath }}
    <!-- <img id="logo-image"src="{{ $image.RelPermalink }}" width="{{ $image.Height }}" height="{{ $image.Height }}"> -->
    <img id="logo-image" src="{{ $image.RelPermalink }}" />
    <h2 id="home-page-title">
        {{.Site.Params.homepage.homePageTitle}}
    </h2>
    <h4 id="home-page-tag">
        {{.Site.Params.homepage.homePageTagline}}
    </h4>
</div>

{{ partial "media-links.html" .}}

